<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Leaflet Map</title>
	<!-- Our own style sheet -->
	<link rel="stylesheet" href="../static/css/leafletMap.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
	
	<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
</head>

<body>

<div id="mapid">
<script type="text/javascript">
//make map
var mymap = L.map('mapid').setView([44.0521, -123.0868], 13);

//tile layer
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(mymap);

var popup = L.popup();

function onMapClick(e) {
	mymap.
		locate({setView = true})
		.on('locationfound', function(e){
		L.marker([e.latitude, e.longitude]).addTo(mymap).bindPopup("You are here.");
		});
}

mymap.on('click', onMapClick);

//Create points
{% for entry in session.points %}
    var latitude = {{entry.lat}};
    var longitude = {{entry.lon}};
    var desc = '{{entry.disc}}';
    L.marker([latitude, longitude]).addTo(mymap)
        .bindPopup("This is the trailhead for: " + desc);
{% endfor %}

</script>



</div>

</body>
</html>
